<h1>Editing flashcard</h1>

<%= render "form", flashcard: @flashcard %>

<br>

<div>
  <%= link_to "Show this flashcard", @flashcard %> |
  <%= link_to "Back to flashcards", flashcards_path %>
</div>
