<h1>Editing Flashcard</h1>
<%= render "form", flashcard: @flashcard %><br>
<div>
  <%= link_to "Show this Flashcard", @flashcard, class:"btn btn-primary" %> |
  <%= link_to "Back to Flashcards", flashcards_path, class:"btn btn-secondary" %>
</div>
