<h1>Flashcards</h1>

<div id="flashcards">
  <% @flashcards.each do |flashcard| %>
    <% if flashcard.user == current_user %>
    <%= render flashcard %>
    <p>
      <%= link_to "Show this Flashcard", flashcard, class:"btn btn-primary" %>
    </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New Flashcard", new_flashcard_path, class:"btn btn-success" %>
