<h1>Matherator</h1></br>
<p><strong>Matherator</strong> is a web-application based on Ruby on Rails that allows the user to generate basic mathematical problems instantly. Given that the user had supplied the application with the necessary templates and equations. It is part of an ESMTE collaboration project taking place in Thailand. It should be known that this project originated from a high school project and has never been intended for serious use. For information on licensing, consult the LICENSE file in the project's repository.</p>

<br>
<%= link_to "View Repository", "https://gitlab.com/onevzz/matherator", class:"btn btn-primary" %>
<%= link_to "View LICENSE", "https://gitlab.com/onevzz/matherator/-/blob/main/LICENSE", class:"btn btn-primary" %>
