<h1>Decks</h1>

<div id="decks">
  <% @decks.each do |deck| %>
    <%= render deck %>
    <p>
      <%= link_to "Show this Deck", deck, class:"btn btn-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "New Deck", new_deck_path, class:"btn btn-success" %>
